.create-header {
  padding: 44px 0;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #FFFFFF;
  top: 0;
}

.create-header__container {
  @include flex;
  justify-content: space-between;
}

.create-header__list {
  @include flex;
}

.create-header__item + .create-header__item {
  margin-left: 33px;
}
.create-header__item{
  position: relative;
}
.create-header__item:hover::after{
  width: 100%;
}


.create-header__item::after{
    content: "";
    position: absolute;
    transition: 0.5s ease;
    width: 0;
    height: 5px;
    background-color: #0E8784;
    left: 0;
    bottom: -10px;
}

.create-header__link {
  font-family: $main-font;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}


.create-header__menu{
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  display: none;
}


.create-header__label{
  width: 20px;
  height: 15px;
  display: inline-block;
}


.create-header__mobile-list{
  height: 70vh;
  border-radius: 10px;
  padding-top: 20%;
  top: 106.5%;
  left: 3%;
  right: 3%;
  text-align: center;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.create-header__checkBox:checked ~ .create-header__mobile-list{
 display: block;
}
.create-header__mobile-link{
  font-family: $second-font;
  font-size: 30px;
  font-weight: 900;
  padding: 10px 0;
  text-transform: uppercase;
  color: #009688;
}

.create-header__mobile-item a{
  position: relative;
}

.create-header__mobile-item a::after{
  content: "";
  position: absolute;
  transition: 0.5s ease;
  width: 0;
  height: 5px;
  background-color: #10c961;
  left: 0;
  bottom: 0;
}

.create-header__mobile-item a:hover::after{
  width: 100%;
}

.create-header__label {
  position: absolute;
  top: 86px;
  right: 2%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 24px;
  z-index: 5;
}

.create-header__label div {
  position: relative;
  width:20px;
  height: 3px;
  border-radius: 3px;
  background-color: #000;
  margin-top: 4px;
  transition: all 0.3s ease-in-out;
}


.create-header__checkBox:checked + .create-header__label .top-bun {
  transform: rotate(-45deg);
  margin-top: 25px;
}
.create-header__checkBox:checked + .create-header__label .bottom-bun {
  opacity: 0;
  transform: rotate(100deg);
}
.create-header__checkBox:checked + .create-header__label .meat {
  transform: rotate(45deg);
  margin-top: -3px;
}

.create-header__checkBox:checked + .create-header__label + .create-header__mobile-list{
  transform: scale(1);
}


@media only screen and (max-width:754px) {

  .create-header__list{
    display: none;
  }
  .create-header__menu{
    display: inline-block;
  }

  .create-header__logo{
    max-width: 163px;
  }
}

@media only screen and (max-width:554px) {
  .create-header__mobile-list{
    height: 78vh;
  }

  .create-header__mobile-link{
    font-size: 26px;
  }
  .create-header {
    padding: 32px 0;
  }
}