.site-header {
  padding: 44px 0;
}

.site-header__container {
  @include flex;
  justify-content: space-between;
}

.site-header__list {
  @include flex;
}

.site-header__item+.site-header__item {
  margin-left: 33px;
}
.site-header__item{
  position: relative;
}
.site-header__item:hover::after{
  width: 100%;
}


.site-header__item::after{
    content: "";
    position: absolute;
    transition: 0.5s ease;
    width: 0;
    height: 5px;
    background-color: #0E8784;
    left: 0;
    bottom: -10px;
}

.site-header__link {
  font-family: $main-font;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

  
.site-header__menu{
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url('../../img/menu.svg');
  background-position: center;
  background-color: transparent;
  border: none;
  display: none;
}

@media only screen and (max-width:754px) {

  .site-header__list{
    display: none;
  }
  .site-header__menu{
    display: inline-block;
  }
   
  .site-header__logo{
    max-width: 163px;
  }
}